@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
    .header{
        width: 300px;
    }
    
    .left {
        width: 100px;
    }

    .left1 {
        width: 125px;
    }    

    .right1 {
        width: 75px;
    }

    .left4 {
        width: 200px;
    }    

    .footer{
        width: 300px;
    }
    

}

@media screen and (max-width: 479px) {

    .header{
        width: 150px;
    }

    .main {
        display: block;
    }
    
    .left {
        width: 150px;
        height: 100px;
    }

    .left1 {
        width: 150px;
    }    

    .left4 {
        width: 150px;
    }    

    .right1 {
        width: 150px;
    }

    .footer{
        width: 150px;
    }
    
}

